{% extends 'navigationbar.html' %}
{%block custombody %}

<form class="form-login" action="{% url 'user:changepassword' %}" method="post">

    {% if message%}
    <div class="alert alert-warning">{{message}}</div>
    {%endif%}
    {% csrf_token %}
    {% for item in form %}
    <div class="form-group">
        <label for="id_username">{{item.label}}</label>
        {{item}}
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary float-right">确认</button>
</form>
    {%endblock%}



