{% extends 'navigationbar.html' %}
{% block title %}
Announcement
{% endblock %}
{% block customcss %}
    <style >
    h1{
        text-align: center;
        font-family: "STFangsong", "Ubuntu", sans-serif;
    }
    #an{
        margin-left: 70px;
    }
    .panel-body{
        font-family: "Microsoft YaHei UI Light", serif;
        font-size: 20px;
    }
    </style>
{% endblock %}


{% block custombody %}
    <h1>公告栏</h1>
    <div class="container">
    <div class="row">
{% if announcement_list %}
{% for announcement in announcement_list %}
<div class="panel panel-default col-xs-5" id="an">

    <div class="panel-body">
        {{ announcement.announcement_text }}

        <br><br><br><br><br><br>

    </div>
    <div class="panel-footer">
        published by {{  announcement.pub_user }}, on {{ announcement.pub_date}}
    </div>
</div>
{% endfor %}
{% else %}
<div class="panel panel-default">
    <div class="panel-body">
        No announcements available!!
    </div>
</div>
{% endif %}
    </div></div>
{% endblock %}