{% extends 'navigationbar.html' %}
{% load staticfiles %}

{% block title %}
    Challenge
{% endblock %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/challengehome.css' %}">

{% endblock %}

{% block custombody %}
    <h1>已经准备好开始了吗？</h1>
    <div class="container">
        <div class="row">
            <div id="pwn" class="col-xs-3">
                <h2><span class="label label-default">PWN</span></h2>
                <ul class="list-group">
                    {% if pwn_challenges %}
                        {% for challenge in pwn_challenges %}
                            {% if challenge not in finished %}
                                <li class="challenge-item list-group-item">
                                    <a href="{% url 'challenge-detail' challenge.pk %}">{{ challenge.title }}</a>
                                </li>
                            {% else %}
                                <li class="finished challenge-item list-group-item"><a
                                        href="{% url 'challenge-detail' challenge.pk %}">{{ challenge.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p style="color: #b92c28" class="list-group-item-danger list-group-item">暂无题目！</p>
                    {% endif %}
                </ul>
            </div>

            <div id="web" class="col-xs-3">
                <h2><span class="label label-default">WEB</span></h2>
                {% if web_challenges %}
                    {% for challenge in web_challenges %}
                        {% if challenge not in finished %}
                            <li class="challenge-item list-group-item">
                                <a href="{% url 'challenge-detail' challenge.pk %}">{{ challenge.title }}</a>
                            </li>
                        {% else %}
                            <li class="finished challenge-item list-group-item"><a
                                    href="{% url 'challenge-detail' challenge.pk %}">{{ challenge.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p style="color: #b92c28" class="list-group-item-danger list-group-item">暂无题目！</p>
                {% endif %}
            </div>
            <div id="re" class="col-xs-3">
                <h2><span class="label label-default">REVERSE</span></h2>
                {% if re_challenges %}
                    {% for challenge in re_challenges %}
                        {% if challenge not in finished %}
                            <li class="challenge-item list-group-item">
                                <a href="{% url 'challenge-detail' challenge.pk %}">{{ challenge.title }}</a>
                            </li>
                        {% else %}
                            <li class="finished challenge-item list-group-item"><a
                                    href="{% url 'challenge-detail' challenge.pk %}">{{ challenge.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p style="color: #b92c28" class="list-group-item-danger list-group-item">暂无题目！</p>
                {% endif %}
            </div>
            <div id="gen" class="col-xs-3">
                <h2><span class="label label-default">GENERAL</span></h2>
                {% if gen_challenges %}

                    {% for challenge in gen_challenges %}
                        {% if challenge not in finished %}
                            <li class="challenge-item list-group-item">
                                <a href="{% url 'challenge-detail' challenge.pk %}">{{ challenge.title }}</a>
                            </li>
                        {% else %}
                            <li class="finished challenge-item list-group-item"><a
                                    href="{% url 'challenge-detail' challenge.pk %}">{{ challenge.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p style="color: #b92c28" class="list-group-item-danger list-group-item">暂无题目！</p>
                {% endif %}
            </div>
        </div>
    </div>

{#    <script type="text/javascript">#}
{#        $(document).ready(function () {#}
{#            $("p").click(function () {#}
{#                $(this).hide();#}
{#                $("#pwn").hide();#}
{#                $("#web").hide();#}
{#                $("#re").hide();#}
{#                $("#gen").hide();#}
{#            });#}
{#            alert("it works!")#}
            {#$("#pwn").fadeIn("slow");#}
            {#$("#web").fadeIn("slow");#}
            {#$("#re").fadeIn("slow");#}
            {#$("#gen").fadeIn("slow");#}
{#        });#}
{#    </script>#}

{% endblock %}
