{% extends 'navigationbar.html' %}
{% load staticfiles %}

{% block title %}
    Challenge
{% endblock %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/challengehome.css' %}">
{% endblock %}

{% block custombody %}
    <h1>已经准备好开始了吗？</h1>
    <div>
        <ul id="pwn">
            {% if pwn_challenges %}
                <h2><span class="label label-default">PWN</span></h2>
                {% for challenge in pwn_challenges %}
                    {% if challenge not in finished %}
                        <li>
                            <a href="{% url 'challenge-detail' challenge.pk %}">{{ challenge.title }}</a>
                        </li>
                    {% else %}
                        <li class="finished"><a
                                href="{% url 'challenge-detail' challenge.pk %}">{{ challenge.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% else %}
                <p style="color: #b92c28">暂无题目！</p>
            {% endif %}
    </div>
    <div>
        <ul id="web">
            {% if web_challenges %}
                <h2><span class="label label-default">WEB</span></h2>
                {% for challenge in web_challenges %}
                    {% if challenge not in finished %}
                        <li>
                            <a href="/challenge/{{ challenge.pk }}">{{ challenge.title }}</a>
                        </li>
                    {% else %}
                        <li class="finished"><a href="/challenge/{{ challenge.pk }}">{{ challenge.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% else %}
                <p style="color: #b92c28">暂无题目！</p>
            {% endif %}
    </div>

{% endblock %}
