{% extends 'navigationbar.html' %}
{% load staticfiles %}

{% block title %}
    Challenge&nbsp&nbsp{{ title }}
{% endblock %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/challengedetail.css' %}">
{% endblock %}

{% block custombody %}
    <h2>{{ title }}</h2>
    <div id="Body">
        <ul>
            <li>分数 : {{ bonus }}</li>
            <li>分类 : {{ category }}</li>
            <li><p>题目描述 ：<br/>{{ description }}</p></li>
            <li><a href="{{ file }}">传送门</a></li>
        </ul>

    </div>
{% endblock %}