{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1, viewport-fit='cover'">

    <title>{% block title %}
        CTFrog
    {% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navi-bar.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    {% block customcss %}
    {% endblock %}

</head>

<body>

    <!-- Navigation bar -->
    <nav class="navbar navbar-default navbar-static-top navbar-inverse " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="font-size: 30px;line-height:10px" href="/home/">CTFrog</a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-collapse">

                    <li><a href="/announcement/">公告栏</a></li>
                    <li><a href="/rank/">排行榜</a></li>

                    <li><a href="/challenge/">开始挑战</a></li>
                </ul>
            </div>
            <div>
                <ul style="height: 50px;line-height:50px" class="nav navbar-nav navbar-right">
                    {% if not request.session.is_login %}
                    <li style="color: #9d9d9d">亲，欢迎你来！请：
                    </li>
                    <li><a href="{% url 'user:login'%}" class="btn btn-link ">
                                            <button type="button"><span class="glyphicon glyphicon-user"></span>&nbsp;登录</button></a></li>
                    <li><a href="{% url 'user:register' %}"  class="btn btn-link ">
                        <button type="button"><span class="glyphicon glyphicon-log-in"></span>&nbsp;注册</button>
                    </a></li>

                    {% else %}
                    <li style="color: #9d9d9d">{{request.session.username}}，欢迎！</li>

                    <a href="{%url 'user:logout'%}"  class="btn btn-link ">
                        <button type="button">注销</button>
                    </a>

                    <a href="{%url 'user:profile' request.session.username %}" class="btn btn-link ">
                        <button type="button">账户管理</button>
                    </a>
                    
                    <a href="{%url 'user:teamprofile'%}"  class="btn btn-link ">
                        <button type="button">我的团队</button>
                    </a>
                    {% endif %}

                </ul>

            </div>
        </div>
    </nav>


    {% block custombody %}
    {% endblock %}

    <footer style="text-align:center;">
        © WBH PZY LXR &nbsp;&nbsp; ALL RIGHTS RESERVED.<br />
        SCSS, BUPT.<br />
        Powered By Django.<br />
        GITHUB:<a href="https://github.com/biiNG/CTFrog/">https://github.com/biiNG/CTFrog/</a>
    </footer>

    <!--<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>-->

</body>

</html>