{% extends 'navigationbar.html' %}
{% load staticfiles %}
{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/team/profile/admin.css' %}">
{% endblock %}

{% block custombody %}
    <div class="container">
        <div class="row center-block">


            {% if message %}
                <h1>{{ message }}</h1>
            {% endif %}
            <div class="well well-lg col-xs-4">
                <p id="score">队伍&nbsp;{{ teamname }}&nbsp;现在的得分是：<em><b>{{ score }}</b></em></p>
            </div>
            <ul class="list-group col-xs-6">
                <li class="list-group-item active"><h4 class=" list-group-item-heading"> 队伍成员 </h4></li>
                {% for member in members %}
                    {% if member.name == request.session.username %}
                        {% if member.name == admin %}
                            <li class="list-group-item list-group-item-success"><a href="{% url 'user:profile' admin %}">{{ admin }}(就是你啦，队长)</a></li>
                        {% else %}
                            <li class="list-group-item list-group-item-text"><a href="{% url 'user:profile' member.name %}">{{ member.name }}(就是你啦)</li>
                        {% endif %}
                    {% else %}
                        {% if member.name == admin %}
                        <li class="list-group-item list-group-item-success"><a href="{% url 'user:profile' admin %}">{{ admin }}（队长）</li>
                        {% else %}
                        <li class="list-group-item "><a href="{% url 'user:profile' member.name%}">{{ member.name }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

